<div id="top-menu">
	<a href="#/addIssue/">
		Add issue
	</a>
	<a href="#/issues/">
		Issues
	</a>
    <a href="#/addUser/">
        Add user
    </a>
	<a href="#/account/">
		Account
	</a>
	<a href="#/logout">
		Logout
	</a>
</div>