body {
    margin: 0;
}
#add-issue textarea,
#edit-issue textarea,
#add-issue input,
#edit-issue input,
#add-user input,
#update-user input,
#add-issue select,
#edit-issue select {
    display: block;
    margin: 10px 0;
}
#add-issue input[type='submit'],
#edit-issue input[type='submit'],
#add-user input[type='submit'],
#update-user input[type='submit'] {
    float: right;
}
#sign-in input,
#sign-up input {
    display: block;
    margin: 0 auto;
}
#top-menu {
    padding: 15px;
    background: #7cb342;
}
#top-menu a {
    margin: 15px;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    background-color: #ffffff;
    color: #7cb342;
}
#top-menu a.current, #top-menu a:hover {
    background-color: #4c7125;
    color: white;
}
#app {
    height: 100%;
    position: relative;
    padding: 25px;
}
.auth-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    text-align: center;
}
.auth-wrapper input {
    margin: 0 auto;
    padding: 10px;
}
.auth-wrapper input[type='submit'], form input[type='submit'] {
    border: none;
    background-color: dodgerblue;
    color: #ffffff;
    padding: 15px;
}
.auth-wrapper input[type='submit']:hover {
    cursor: pointer;
    background-color: #1b53a5;
    color: white;
}



/* ISSUES */
table.issues {
    width: 100%;
}
table.issues, table.history {
    border-spacing: 0;
    border-collapse: collapse;
}
table.issues thead, table.history thead,
table.issues tr:not(.table-header) td:last-child {
    background: #20abe2;
    color: #ffffff;
}
table.issues tr:not(.table-header) td:last-child {
    padding: 0;
    text-align: center;
}
table.issues tr:not(.table-header) td:last-child a {
    text-decoration: none;
    color: white;
}
table.issues tr:not(.table-header) td:last-child:hover {
    cursor: pointer;
}

form#edit-issue, .history-wrapper {
    display: inline-block;
    width: 49.799999%;
}
table.history {
    width: 100%;
}
.history-wrapper {
    vertical-align: top;
    padding: 0 20px;
}

table.history {
    vertical-align: top;
    padding: 0 20px;
}